* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto auto;
  width: auto;
  height: auto;
  font-family: "Alegreya Sans SC", sans-serif;
}

.logo-nav {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  background-color: white;
}
.logo-img {
  width: 40vw;
  height: 40vh;
  margin: 0 auto 0 auto;
}
.afford-outgo {
  width: auto;
  margin: auto auto;
  /* width: 60vw; */
  color: #ec8a5b;
  /* font-size: 4.5vw; */
  /* text-align: center; */
}
.section {
  background-color: rgba(234, 138, 90, 0.9);
  display: flex;
  justify-content: space-around;
}
.incomes {
  display: flex;
  flex-direction: column;
}
.expenses {
  display: flex;
  flex-direction: column;
}
.li {
  list-style-type: none;
  font-size: 2vw;
}
.title {
  font-size: 3vw;
  color: white;
}

.submit-button {
  background-color: rgba(19, 245, 19, 0.5);
  width: 30vw;
  height: 2.3vh;
  cursor: pointer;
}
#sumIncome {
  font-size: large;
  font-weight: bold;
  text-align: center;
  font-size: 4.5vh;
}
#sumExpense {
  font-size: large;
  font-weight: bold;
  text-align: center;
  font-size: 4.5vh;
}
#allMoney {
  font-size: large;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 5vh;
}
.edit {
  background-color: rgba(255, 238, 0, 0.5);
  width: 15vw;
  height: 2.3vh;
  cursor: pointer;
}
.delete {
  background-color: rgba(254, 23, 23, 0.5);
  width: 15vw;
  height: 2.3vh;
  cursor: pointer;
}
.done {
  background-color: rgba(19, 245, 19, 0.5);
  width: 7vw;
  height: 2.3vh;
}
.inpuText {
  font-size: 4.3vh;
  font-family: "Alegreya Sans SC", sans-serif;
  width: 30vw;
  height: 4vh;
}
.total {
  font-size: 4.3vh;
  /* font-family: "Alegreya Sans SC", sans-serif; */
  text-align: center;
  color: white;
}
span {
  font-size: 4vh;
  text-align: center;
}
.value {
  color: white;
  font-size: 4.3vh;
  text-align: center;
}
